// General Style Variables
@import "config/variables";
@import "config/bootstrap_variables";

// External Frameworks
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Our CSS
@import "layout/*";
@import "components/custom/index.scss";
// @import "components/standard/index.scss"; //See Below
@import "pages/*";
@import "vendor/*";


//currently the standard styles don't work at the same time as bootstrap as they are both very opinionated and make each other ugly
