---
layout: pattern
title: card.html
---

<div class="card-wrapper">
  <div class="card-container">
    <div class="card-image">
      <img src="http://unsplash.it/100/100" alt="">
      <div class="card-button-container">
        <button>Info</button>
        <button>Add</button>
      </div>
    </div>
    <div class="card-info">
      <h4>Card Title 1</h4>
      <p>Card text goes here Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam odio assumenda, eveniet eius nihil labore minima ipsum fugit at nulla?</p>
    </div>
  </div>
  <div class="card-container">
    <div class="card-image">
      <img src="http://unsplash.it/100/100" alt="">
      <div class="card-button-container">
        <button>Info</button>
        <button>Add</button>
      </div>
    </div>
    <div class="card-info">
      <h4>Card Title 2</h4>
      <p>Card2 text goes here Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam odio assumenda, eveniet eius nihil labore minima ipsum fugit at nulla?</p>
    </div>
  </div>
  <div class="card-container">
    <div class="card-image">
      <img src="http://unsplash.it/100/100" alt="">
      <div class="card-button-container">
        <button>Info</button>
        <button>Add</button>
      </div>
    </div>
    <div class="card-info">
      <h4>Card Title 3</h4>
      <p>Card2 text goes here Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam odio assumenda, eveniet eius nihil labore minima ipsum fugit at nulla?</p>
    </div>
  </div>
  <div class="card-container">
    <div class="card-image">
      <img src="http://unsplash.it/100/100" alt="">
      <div class="card-button-container">
        <button>Info</button>
        <button>Add</button>
      </div>
    </div>
    <div class="card-info">
      <h4>Card Title 4</h4>
      <p>Card2 text goes here Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam odio assumenda, eveniet eius nihil labore minima ipsum fugit at nulla?</p>
    </div>
  </div>
</div>
