---
title: Middleman-Basic-Boilerplate
---

<div class="welcome text-center padded">
  <h1>Welcome to Middleman</h1>
  <h3>This boilerplate uses:-</h3>
  <p class="doc">
    <%= link_to "JQuery-middleman", "https://github.com/jasl/jquery-middleman" %>
  </p>
  <p class="doc">
    <%= link_to "Bootstrap-sass(3.6)", "https://github.com/twbs/bootstrap-sass" %>
  </p>
  <p class="doc">
    <%= link_to "middleman-autoprefixer", "https://github.com/middleman/middleman-autoprefixer" %>
  </p>
  <p>__________</p>
  <h4>Stuck?</h4>
  <p class="doc">
    <%= link_to "Read Online Documentation", "http://middlemanapp.com/" %>
  </p>
</div>
<style>
  a {
    text-decoration: none;
    color: black;
  }
</style>
