---
title: Middleman-Style-Guide-Boilerplate
---

  <%=partial "/components/standard/index"%>


<!-- This loops through all the files in the 'custom' directory and renders them as partials. -->

<% filename_array = Dir.entries("./source/components/custom").sort %>
<% filename_array.each do |file| %>
  <% if file.end_with?(".html.erb") %>
    <p><%file.slice!(0)%></p>
    <%filepath = "/components/custom/#{file}"%>
    <div class="partial_container">
      <%=partial filepath%>
    </div>
    <%end%>
<%end %>
